<% require 'date' %>
<% time = DateTime.now %>
<center>
  <h1><%= @recommend.name %></h1>
  <h2><%= @recommend.meshitype %>のお店です、ワオワオ！</h2>
</center>
  <ul>
  <li>住所:<%= @recommend.address %></li>
  <li>電話番号:<%= @recommend.tel %></li>
  <li>定休日:<%= @recommend.holiday %></li>
</ul>
  <h3>開店しているのは<%= @recommend.openclose %>みたい！</h3>
  <h3>現在時刻は<%= time%>ですよ！</h3>
